/* Version S 640px */

@media screen and (min-width: 640px) {
    .sidebar{
        flex-basis: 200px;
    }

    #logo-small{
        display: none;
    }

    #logo-big{
        display: block;
    }

    li > img{
        margin: 5px 0;
    }

    ul > li > p{
        display: block;
    }
    
    #plus{
        display: block;
    }
    
    h5{
        display: block;
    }

    .line{
        display: block;
    }

    .categories > li{
        flex-basis: calc(100% / 3);
    }

    .name{
        display: flex;
        gap: 2px;
    }

    .icon-right > i{
        margin-right: 10px;
    }

    #home{
        margin-left: 5px
    }

    .line-left{
        display: block;
    }
}

/* Version Md 878px */

@media screen and (min-width: 878px) {
    .categories > li{
        flex-basis: calc(100% / 5);
    }
    
    .col{
        flex-basis: calc(100% / 4);
    }

    .icon-song{
        display: block;
    }
}

/* Version LG 1440px */

@media screen and (min-width: 1440px) {
    .categories > li{
        flex-basis: calc(100% / 10);
    }
 
    .col{
        flex-basis: calc(100% / 6);
    }
}